
@{
    ViewData["Title"] = "Register";
}
    <div class="alert alert-success" role="alert">
        <h1>Thank you for registering  @ViewData["name"]</h1>
        <p>A confirmation email has been sent to @ViewData["email"]</p>
    </div>
